<h3 style="text-align: center;">Bem Vindo!</h3>
<div class="card" style="margin-bottom: 6em;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Alunos</h5>
            <a href="alunos"><p class="card-text"><i class="fas fa-user-alt d-flex justify-content-center" style="font-size: 4em;"></i></p></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Orientadores</h5>
            <a href="orientadores"><p class="card-text"><i class="fas fa-chalkboard-teacher d-flex justify-content-center" style="font-size: 4em;"></i></p></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Turmas</h5>
            <a href="turma"><p class="card-text"><i class="fas fa-users d-flex justify-content-center" style="font-size: 4em;"></i></p></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>