<style>
    #datepicker {
        width: 300px;
    }
</style>

<h3>Atualizar etapas</h3>
<div class="card" style="margin-bottom: 10em;">
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nº matrícula</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Etapa 1</th>
                    <th scope="col">Etapa 2</th>
                    <th scope="col">Etapa 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Nome</td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Nome</td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Nome</td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Nome</td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Nome</td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Nome</td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                    <td><div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>