<h3>Editar Orientador</h3>

<div class="card" style="margin-bottom: 10em;">
    <div class="card-body">
        
        <h5>Dados do Orientador</h5>
        <form action="" method="POST">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" class="form-control" required>
            <label for="email">E-mail: </label>
            <input type="email" name="email" class="form-control" required>
            <button type="submit" class="btn btn-success mt-3">Salvar alterações</button>
        </form>
    </div>
</div>