<h3 style="text-align: center;">Configurações Das Turmas</h3>
<div class="card" style="margin-bottom: 10em;" >
  <div class="card-body" >
    <div class="row">

      <div class="col-sm-6 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Inserir Turma</h5>
            <a href="turma/addTurma"><p class="card-text"><i class="fas fa-users d-flex justify-content-center" style="font-size: 5em;"></i></p></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Ver turmas</h5>
            <a href="turma/listarTurma"><p class="card-text"><i class="fas fa-eye d-flex justify-content-center" style="font-size: 5em;"></i></p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>