<h3 style="text-align: left;">Alunos</h3>
<div class="form-group input-group">
    <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
</div>
<div class="card" style="margin-bottom: 10em;">
<table id="tabela" class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Matrícula</th>
            <th>Email</th>
            <th>Orientador</th>
            <th>Turma</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>João Silva</th>
            <td>201000021601</td>
            <td>joaosilva@gmail.com</td>
            <td>Eduardo Fernando</td>
            <td>2019/1</td>
            <td><button class="btn btn-mini btn-primary">Alterar</button>
                <button class="btn btn-danger">Excluir</button></td>
        </tr>
        <tr>
            <th>João Silva</th>
            <td>201000021601</td>
            <td>joaosilva@gmail.com</td>
            <td>Eduardo Fernando</td>
            <td>2019/1</td>
            <td><button class="btn btn-mini btn-primary">Alterar</button>
                <button class="btn btn-danger">Excluir</button></td>
        </tr>

        <tr>
            <th>João Silva</th>
            <td>201000021601</td>
            <td>joaosilva@gmail.com</td>
            <td>Eduardo Fernando</td>
            <td>2019/1</td>
            <td><button class="btn btn-mini btn-primary">Alterar</button>
                <button class="btn btn-danger">Excluir</button></td>
        </tr>
        <tr>
            <th>João Silva</th>
            <td>201000021601</td>
            <td>joaosilva@gmail.com</td>
            <td>Eduardo Fernando</td>
            <td>2018/1</td>
            <td><button class="btn btn-mini btn-primary">Alterar</button>
                <button class="btn btn-danger">Excluir</button></td>
        </tr>
    </tbody>
</table>
</div>
<script>
    $('input#txt_consulta').quicksearch('table#tabela tbody tr');
</script>