<style type="text/css">
  .detalhes_req:hover {
    background: rgba(0, 169, 161, 0.3);
    cursor: pointer;
  }
</style>

<div class="col m12 s12 detalhes_req">
  <a class="waves-effect waves-light btn" id="voltar" style="background: #34a5a1; color: white; float: right;">
    <i class="fas fa-arrow-left"></i> Voltar
  </a>
</div>
<br>
<h3 style="text-align: center;">Configurações Dos Orientadores</h3>
<div class="card" style="margin-bottom: 10em;">
  <div class="card-body">
    <div class="row">

      <div class="col-sm-6 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Inserir orientador</h5>
            <a href="orientador/cadastrarOrientador">
              <p class="card-text"><i class="fas fa-user-plus d-flex justify-content-center"
                  style="font-size: 5em;"></i></p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Ver orientadores</h5>
            <a href="orientador/listarOrientadores">
              <p class="card-text"><i class="fas fa-eye d-flex justify-content-center" style="font-size: 5em;"></i></p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#voltar').click(function (e) {
    e.preventDefault();
    window.history.go(-1);
  });
</script>