<h3 style="text-align: left;">Orientadores</h3>
<div class="form-group input-group">
    <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
</div>
<div class="card" style="margin-bottom: 10em;">
<table id="tabela" class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>João Silva</th>
            <td>joaosilva@gmail.com</td>
            <td><a href="/orientador/editarOrientador"><button class="btn btn-mini btn-primary">Alterar</button></a>
                <button class="btn btn-danger">Excluir</button></td>
        </tr>
        <tr>
            <th>Eduardo Fernando</th>
            <td>eduardopaes@yahoo.net</td>
            <td><a href="/orientador/editarOrientador"><button class="btn btn-mini btn-primary">Alterar</button></a>
                <button class="btn btn-danger">Excluir</button></td>
        </tr>

        <tr>
            <th>Jane Almeida</th>
            <td>jabbathehutt@varl.com</td>
            <td><a href="/orientador/editarOrientador"><button class="btn btn-mini btn-primary">Alterar</button></a>
                <button class="btn btn-danger">Excluir</button></td>
        </tr>

        <tr>
            <th>Rafael Prado</th>
            <td>timhobby@flexomat.com</td>
            <td><a href="/orientador/editarOrientador"><button class="btn btn-mini btn-primary">Alterar</button></a>
                <button class="btn btn-danger">Excluir</button></td>
        </tr>

        <tr>
            <th>Larissa Castro</th>
            <td>larisalascaster@moda.info</td>
            <td><a href="/orientador/editarOrientador"><button class="btn btn-mini btn-primary">Alterar</button></a>
                <button class="btn btn-danger">Excluir</button></td>
        </tr>
    </tbody>
</table>
</div>
<script>
    $('input#txt_consulta').quicksearch('table#tabela tbody tr');
</script>